<h1>React</h1>

<%= react_component("Gravy", @notification.to_json, prerender: true) %>

<h1>Turbo</h1>

<%= render partial: 'form' %>

<p>This submits on every button click</p>

<h1>Stimulus</h1>

<turbo-frame id="ts-notification_<%= @notification.id %>">
<%= form_for(
    @notification,
    method: :patch,
    data: {
      controller: 'notif',
      notif_count_value: @notification.count,
    }) do |f| %>
  <div>
    Hello <%= @notification.name %>! You have
    <input readonly name="count" value="<%= @notification.count %>" data-notif-target="count" />
  </div>
  <button type="button" data-action="notif#down">-</button>
  <button type="button" data-action="notif#up">+</button>
  <%= f.submit('Submit') %>
<% end %>
</turbo-frame>
