%h1 Listing clients

%table
  %thead
    %tr
      %th Company name
      %th Email
      %th Phone
      %th Description
      %th
      %th
      %th

  %tbody
    - @clients.each do |client|
      %tr
        %td= client.company_name
        %td= client.email
        %td= client.phone
        %td= client.description
        %td= link_to 'Show', client
        %td= link_to 'Edit', edit_client_path(client)
        %td= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Client', new_client_path
