%p#notice= notice

%p.border.rounded.p-1
  %b.font-thin Company name:
  .value{ class: "p-6 bg-black text-white lg:bg-white lg:text-black" }
    = @client.company_name
%p
  %b Email:
  = @client.email
%p
  %b Phone:
  = @client.phone
%p
  %b Description:
  = @client.description

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
