%p#notice= notice

= render(FieldShowComponent.new(label: 'Company name')) do
  = @client.company_name

= render(FieldShowComponent.new(label: 'Email')) do
  = @client.email

= render(FieldShowComponent.new(label: 'Phone')) do
  = @client.phone

= render(FieldShowComponent.new(label: 'Description')) do
  = @client.description

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
