%p#notice= notice

= render(FieldShowComponent.new(label: 'Company name')) do
  = @client.company_name

%p
  %b Email:
  = @client.email
%p
  %b Phone:
  = @client.phone
%p
  %b Description:
  = @client.description

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
