= form_for @contact, builder: BoostFormBuilder do |f|
  = f.jpg_text_field :name
  = f.jpg_text_field :email
  /= f.datetime_select :start_at, {}, data: { reflex: 'change' }
  /= f.datetime_select :end_at, {}, data: { reflex: 'change' }
  = f.jpg_text_field :state
  = f.jpg_text_field :city
  %p
    Did you check the base errors yet?

  .actions
    = f.submit 'Save'
