%h1 Workflow Library

= render(SearchComponent.new(search: @search))

- @hero_workflow_templates = @workflow_templates[0..1] || []
- @non_hero_workflow_templates = @workflow_templates[2..] || []

-# Note: size-specific classes should follow defaults
%div{ class: "grid auto-rows-fr grid-cols-1 gap-2 md:grid-cols-2" }
  - @hero_workflow_templates.each do |workflow_template|
    -# CardAndLinkComponent?
    %div{ class: "h-full" }
      = render(CardAndLinkComponent.new(workflow_template: workflow_template, type: CardAndLinkComponent::HERO))

%div{ class: "grid auto-rows-fr grid-cols-2 gap-2 md:grid-cols-4" }
  - @non_hero_workflow_templates.each do |workflow_template|
    -# CardAndLinkComponent?
    %div{ class: "h-full" }
      = render(CardAndLinkComponent.new(workflow_template: workflow_template))

= link_to 'New Workflow template', new_workflow_template_path

= render(CurrentWorkflowComponent.new(workflow_template: @selected_workflow_template))
